body {
    margin: 0;
    background-image: url("../images/so-white.png");
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';
    font-size: 1em;
}

header {
    background-color: #ffffff;
}

.header-content {
    max-width: 960px;
    margin: auto;
}

h1 {
    padding: 28px;
    background-color: #4aaaa5;
    color: #ffffff;
    margin: 0;
    font-size: 2em;
}

h1, h2, h3 {
    font-family: 'Georgia', 'Times', 'Times New Roman', 'serif';
}

h2 {
    color: #4aaaa5;
    font-size: 1.5em;
}

h3 {
    background-color: #4aaaa5;
    color: #ffffff;
    font-size: 1.3em;
}

.navbar {
    padding:0;
}

.container {
    /* overriding Boostrap's container width */
    max-width: 960px;
    background-color: #ffffff;
    margin-top: 50px;
    margin-bottom: 120px;
    padding-bottom: 15px;
}

.project-box {
    position: relative;
    width: 270px;
    height: 200px;
    margin-right: 27px;
    margin-bottom: 33px;
}

.project-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-box h3 {
    position: absolute;
    right:0;
    left:0;
    bottom: 0;
    padding: 5px 15px 5px 15px;
}

.avatar-image {
    height: 200px;
    width: 200px;
    margin-right: 25px;
    margin-bottom: 20px;
}

footer {
    /* padding-top: 20px; */
    text-align: center;
    border-top: 8px solid #4aaaa5;
    color: #c0c0c0;
    background-color: #666666;
}